<!-- development version, includes helpful console warnings -->
<meta charset="UTF-8">
<link rel="stylesheet" href="styles.css">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<style>
    ul {
        list-style: none;
    }
</style>

<div id="main">

    <template id="scores">
        <table style="width: 100%; text-align: center;">
            <tr>
                <th>Jogador</th>        
                <th>Monstro</th>
            </tr>
            <tr>
                <td>
                    <div class="barra">
                        <div class="progress" :class="progress_jogador" :style="{width: width_jogador}"></div>                        
                    </div>
                    <div id="porcentagem_jogador">{{width_jogador}}</div>
                </td>
                <td>
                    <div class="barra">
                        <div class="progress" :class="progress_mostro" :style="{width: width_mostro}"></div>
                    </div>
                    <div id="porcentagem_mostro">{{load_mostro}}%</div>
                </td>
            </tr>
        </table>        
    </template>    
    
    <template v-if="mostrar_mensagem">
        <hr>
        <p>{{ resultado }}</p>
    </template>    

    <template id="botoes">
        <hr>
        <template v-if="!iniciado">
            <button class="inicio" @click="iniciar">Iniciar Novo Jogo</button>
        </template>
        <template v-if="iniciado">
            <button class="ataque" @click="atacar">Ataque</button>
            <button class="ataque_especial" @click="atacar_especial">Ataque Especial</button>
            <button class="cura" @click="curar">Curar</button>        
            <button class="desistencia" @click="desistir">Desistir</button>
        </template>
    </template>

    <template v-if="logs.length > 0">
        <hr>
        <ul>
            <template v-for="(log, i) in logs.slice().reverse()">
                <li class="log_jogador">{{ log.jogador }}</li>
                <li class="log_monstro">{{ log.monstro }}</li>
            </template>
        </ul>
    </template>

</div>

<script src="app.js"></script>
